:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.freeSpace{
  height: 146px;
}

/* For Product Slider  */
@media screen and (max-width:1000px) {
.swiper-slide.swiper-slide-active,
  .swiper-slide.swiper-slide-next{
  margin-right: 5px !important;
}  
}

/* For Product Page Image Gallary Slider  */
.swiper-slide.swiper-slide-active{
  padding: 1px !important;
}
.mainSwiper.swiper-pagination-bullets {
  position: relative !important;
  margin-top: 12px;
  text-align: center;
}

.mainSwiper.swiper-pagination-bullet {
  background: #888;
  opacity: 1;
  
}
.swiper-pagination-bullet-active{
    background: #4caf50 !important;
}
