/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Hero Slider <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.heroWrapper {
  width: 100%;
  height: 80vh;
  position: relative;
  margin-bottom: 50px;
}

.heroSwiper {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.overlay {
  margin-left: 40px;
  padding: 30px;
  border-radius: 12px;
  text-align: start;
  color: #fff;
  max-width: 650px;
}

.overlay h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.ctaBtn {
  padding: 12px 25px;
  background: #ff7b54;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.ctaBtn:hover {
  background: #e56740;
}
